RewriteEngine on



# ROUTE TESTS.SHOW
# RewriteRule ^pattern$ cible [flag]
# PATTERN: tests/x/slug.html
# RewriteRule ^tests$ index.php [L]
# TARGET: index.php?tests=show&id=x

RewriteRule ^tests\/([1-9][0-9]*)/[a-z0-9][a-z0-9\-]*[a-z0-9]\.html$ ?tests=show&id=$1 [L]