RewriteEngine on



# ROUTE POSTS.SHOW
# RewriteRule ^pattern$ cible [flag]
# PATTERN: /posts/id/slug
# RewriteRule ^posts$ index.php [L]
# TARGET: index.php?posts=show&id=x

RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*$ index.php?posts=show&id=$1 [L]